body{
    padding: 0;
    margin: 0;
    background: linear-gradient(180deg, #4D7111,#C3E956, #1F4B2C);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
}
.container{
    width: 100%;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main{
    /* background: linear-gradient(to right, #4D7111,#C3E956); */
    padding: 5%;
    border-radius: 10px;
    margin: 14% 30%;
    box-shadow: 0px 0px 10px ;

}
input{
    outline: none;
    padding: 10px 20px 10px 20px;
    font-size: 18px;

}
.button{
    border: none;
    padding: 5px 25px 5px 25px;
    background-color: blue;
    border-radius: 5px;
    font-size: 20px;
    text-transform: capitalize;
    color: white;
    margin-left: 5%;
}
li{
        list-style-type:circle;
        font-size: 25px;
        color: black;
        margin-top: 3%;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        position: relative;
        cursor: pointer;
        text-transform: capitalize;
}
.delete {
    position: absolute;
    left: 90%;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: aqua;
    border: none;
    background-color: red;
    color: wheat;
  }
  .update{
    border: none;
    position: absolute;
    left: 60%;
    padding: 5px 15px 5px 15px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #1F4B2C;
    color: white;
  }
.li{
    text-decoration: line-through;
    cursor: pointer;
    color: blue;
    list-style-type:square
}
span{
    color: red;
    font-size: 20px;
    text-transform: capitalize;
}
